
.landing{
    background-color: transparent;
    color: white;
    margin: 10vw;
    
    margin-bottom: 0;
}
.mail-logo{
    width: 20px;
    height: 20px;
}

.social-button{
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    color:black;
    text-decoration: none;

}


.button-container{
    display: flex;
    background-color: transparent;

}

.social-button:visited{
    color: black;
    text-decoration: none;
}


.title-content{
    width: 50%;
    background-color: transparent;
}

.title{
    font-size: 40pt;
    margin-bottom: 5vh;
    margin-top: 15vh;
    width: 50vw;
    background-color: transparent;


}
.landing-picture{
    position: absolute;
    right: 0;
    z-index: -1;
    margin-top: 10vh;
    min-width: 70%;
    text-align: right;
    margin-left: -20vw;
    .isabel-pic{
        width: 1000px;

    }
}

.content-container{
    display: flex;
    margin-bottom: 40vh;
    background-color: transparent;


}