.standup-title{
    text-align: center;
    font-size: 30pt;
    margin-bottom: 10vh;
    margin-top: 7vh;
}
.video-container{
    margin: 5vh;
    display: flex;
    flex-wrap: wrap;
    .video{
        margin: 2vw;
        min-width: 40vw;
    }
    .video-title{
        font-size: 20pt;
        line-height: 2;
    }
    .video-date{
        font-size: 15pt;
        font-weight: 50;
        margin-bottom: 2vw;

    }
}
